html,
body {
   min-height: 100vh;
}

body {
   background: linear-gradient(45deg, rgb(64, 159, 223), rgb(152, 217, 255), rgb(37, 80, 196));
   padding-top: 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-bottom: 30px;
}

.aside {
   height: 400px;
}
.main {
   height: 400px;
}
.d-flex {
   display: flex;
}
.task-title {
   font-weight: 400;
   padding-top: 5px;
}
.gray {
   color: #bdbdbd;
}
.task-title--done {
   text-decoration: line-through;
   color: #cdcdcd;
}
.task-item__buttons {
   display: flex;
   column-gap: 5px;
}
.notify-holder {
   height: 60px;
   margin-bottom: 20px;
}
.empty-list {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 1em;
   padding-bottom: 1em;
}
.empty-list__title {
   font-size: 28px;
   margin-bottom: 15px;
   font-weight: 300;
}
.empty-list__icon {
   color: #42be2a;
   font-size: 32px;
}
.btn-action {
   background-color: #e0e5ea;
   padding: 8px 10px;
   cursor: pointer;
   border: 0;
   border-radius: 4px;
   transition: opacity 0.2s ease-in;
   opacity: 0.5;

   display: flex;
   justify-content: center;
   align-items: center;
}

.btn-action:hover {
   background-color: #e0e5ea;
   opacity: 1;
}

.btn-action img {
   pointer-events: none;
}

.none {
   display: none !important;
}

.float-right {
   float: right;
}
.mb-5 {
   color: white;
}

.card {
   box-shadow: 1px 1px 45px rgb(58, 118, 158);
}
.task-item {
   background-color: #fff;
   padding: 20px 30px;
   border-radius: 5px;
}
